body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair; /* créer un cible */
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgb(0, 128, 128, 0.8);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(
    0deg
  ); /*Créer une roue cromatic pour un changement de couleur*/
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left); /*var pour modifier en js*/
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 50px;
  color: rgb(128, 128, 128, 0.555);
}
